<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}">
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}">
  <title>AdminLTE 3 | Dashboard</title>
  <!-- 기본 css 링크-->
  <th:block th:replace="~{fragments/basicLink :: basicLinkCssFragment}"></th:block>
  <!-- DataTables -->
  <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

</head>
<body class="hold-transition sidebar-mini layout-fixed">


<!-- 공통 헤더 불러오기 -->
<div th:replace="~{fragments/header :: headerFragment}"></div>

<!-- 공통 사이드바 불러오기 -->
<div th:replace="~{fragments/sidebar :: sidebarFragment}"></div>


<div class="wrapper">
  <!--   Preloader -->
  <!-- 처음 로딩 시 나오는 요소 불러오기 -->
  <div th:replace="~{fragments/Preloader :: PreloaderFragment}"></div>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">관리자 관리</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">관리자 관리</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid dataTables_wrapper">

        <!-- Main row -->
        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">관리자 목록</h3>

                <div class="card-tools row">
                  <div class="input-group input-group-sm" style="width: 100px;">
                    <a class="btn-sm btn-primary" href="#" id="createManager">관리자 생성</a>
                  </div>
                  <div class="input-group input-group-sm" style="width: 250px;">
                      <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                  <tr>
                    <th>관리자 ID</th>
                    <th>이름</th>
                    <th>이메일</th>
                    <th>전화번호</th>
                    <th>권한</th>
                  </tr>
                  </thead>
                  <tbody id="listBody">
                  <tr th:each="manager, status:${managers}" th:id="${manager.managerId}">
                    <td th:text="${manager.managerId}"></td>
                    <td th:text="${manager.name}"></td>
                    <td th:text="${manager.email}"></td>
                    <td th:text="${manager.phone}"></td>
                    <td th:text="${manager.managerRole}"></td>
                  </tr>
                  </tbody>
                </table>


              </div>
              <!-- /div managers table-->

            </div>
            <!-- /card -->
          </div>
          <!--  -->
        </div>
        <!-- /.row managers table -->
        <!-- row page controllbar-->
        <div class="row">
          <div class="col-sm-12 col-md-5">
            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
          </div>
          <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
              <ul class="pagination">
                <li class="paginate_button page-item previous disabled" id="example2_previous">
                  <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                </li>
                <li class="paginate_button page-item active">
                  <a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                </li>
                <li class="paginate_button page-item ">
                  <a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                </li>
                <li class="paginate_button page-item ">
                  <a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                </li>
                <li class="paginate_button page-item ">
                  <a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                </li>
                <li class="paginate_button page-item ">
                  <a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0" class="page-link">5</a>
                </li>
                <li class="paginate_button page-item ">
                  <a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0" class="page-link">6</a>
                </li>
                <li class="paginate_button page-item next" id="example2_next">
                  <a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /row page controllbar-->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <!-- 수정 모달 창  -->
    <div class="modal fade" id="managerChangeModal" tabindex="-1" aria-labelledby="managerChangeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title fs-4" id="managerChangeModalLabel">관리자 상세정보</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- 모달 창 메인 body -->

            <div class="form-floating d-flex flex-row mb-3">
              <div class="form-floating flex-fill mr-3">
                <label for="manager_id_change_modal">관리자 ID</label>
                <input type="text" class="form-control-plaintext" id="manager_id_change_modal" readonly>
                <span type="hidden" id="idCheckResult"></span>
              </div>
              <div class="form-floating flex-fill ">
                <label for="manager_name_change_modal">이름</label>
                <input type="text" class="form-control" id="manager_name_change_modal" placeholder="Name">
              </div>
            </div>

            <div class="form-floating d-flex flex-row mb-3">
              <div class="form-floating flex-fill mr-3">
                <label for="manager_email_change_modal">이메일</label>
                <input type="email" class="form-control" id="manager_email_change_modal" placeholder="Email" >
              </div>
              <div class="form-floating flex-fill">
                <label for="manager_phone_change_modal">전화번호</label>
                <input type="tel" class="form-control" id="manager_phone_change_modal" placeholder="Phone Number" >
              </div>
            </div>
            <div class="form-floating flex-row">
              <label >권한 설정</label>
              <div class="row">
                <div class="form-check col">
                  <input class="form-check-input" type="checkbox" id="masterData" name="changeRole" value="ROLE_MASTERDATA">
                  <label class="form-check-label" for="masterData">기준정보 관리</label>
                </div>
                <div class="form-check col">
                  <input class="form-check-input" type="checkbox" id="transaction" name="changeRole" value="ROLE_TRANSACTION">
                  <label class="form-check-label" for="transaction">거래 관리</label>
                </div>
                <div class="form-check col">
                  <input class="form-check-input" type="checkbox" id="inventory" name="changeRole" value="ROLE_INVENTORY">
                  <label class="form-check-label" for="inventory">자재/제품 관리</label>
                </div>
                <div class="form-check col">
                  <input class="form-check-input" type="checkbox" id="manufacture" name="changeRole" value="ROLE_MANUFACTURE">
                  <label class="form-check-label" for="manufacture">생산 작업 관리</label>
                </div>
                <div class="form-check col">
                  <input class="form-check-input" type="checkbox" id="quality" name="changeRole" value="ROLE_QUALITY">
                  <label class="form-check-label" for="quality">품질 관리</label>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteManager()">Delete</button>
            <button type="button" class="btn btn-primary"  data-dismiss="modal" onclick="changeManager()">Save</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end modal -->
    <!-- create manager 모달 창  -->
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title fs-4" id="createModalLabel">관리자 생성</h3>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- 모달 창 메인 body -->

            <div class="form-group">
              <label for="manager_id_create_modal">관리자 ID</label>
              <div class="input-group">
              <input type="text" class="form-control" id="manager_id_create_modal" placeholder="Enter Id">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="checkId">중복확인</button>
                </div>
              </div>
            </div>
            <div  id="resultCheckId" class="callout callout-info p-2">
              <p>아이디는 영문, 숫자만 5~19자리까지 가능합니다.</p>
            </div>
            <div class="form-group">
              <label for="manager_pass_create_modal">Password</label>
              <input type="password" class="form-control" id="manager_pass_create_modal" placeholder="Enter Password">
            </div>
            <div  class="callout callout-info p-2">
              <p>비밀번호는 영문, 숫자, 특수문자(!@#$%^*+=-) 조합으로 이루어진 8~15자까지 가능합니다.</p>
            </div>
            <div class="form-group flex-fill ">
              <label for="manager_name_create_modal">이름</label>
              <input type="text" class="form-control" id="manager_name_create_modal" placeholder="Enter Name">
            </div>
            <div class="form-group flex-fill">
              <label for="manager_email_create_modal">이메일</label>
              <input type="email" class="form-control" id="manager_email_create_modal" placeholder="Enter Email" >
            </div>
            <div class="form-group flex-fill">
              <label for="manager_phone_create_modal">전화번호</label>
              <input type="tel" class="form-control" id="manager_phone_create_modal" placeholder="Enter Phone Number">
            </div>
            <div class="form-floating flex-row">
              <label >권한 설정</label>
              <div class="row">
                <div class="form-check col">
                  <input class="form-check-input" type="checkbox" id="masterData2" name="managerRole" value="ROLE_MASTERDATA">
                  <label class="form-check-label" for="masterData2">기준정보 관리</label>
                </div>
                <div class="form-check col">
                  <input class="form-check-input" type="checkbox" id="transaction2" name="managerRole" value="ROLE_TRANSACTION">
                  <label class="form-check-label" for="transaction2">거래 관리</label>
                </div>
                <div class="form-check col">
                  <input class="form-check-input" type="checkbox" id="inventory2" name="managerRole" value="ROLE_INVENTORY">
                  <label class="form-check-label" for="inventory2">자재/제품 관리</label>
                </div>
                <div class="form-check col">
                  <input class="form-check-input" type="checkbox" id="manufacture2" name="managerRole" value="ROLE_MANUFACTURE">
                  <label class="form-check-label" for="manufacture2">생산 작업 관리</label>
                </div>
                <div class="form-check col">
                  <input class="form-check-input" type="checkbox" id="quality2" name="managerRole" value="ROLE_QUALITY">
                  <label class="form-check-label" for="quality2">품질 관리</label>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary"  data-dismiss="modal" onclick="createManager()">Save</button>
          </div>
        </div>
      </div>
    </div>
    <!-- create manager end modal -->
  </div>
  <!-- /.content-wrapper -->
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>


  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- 공통 푸터 불러오기  맨아래에 위치해야함-->
  <div th:replace="~{fragments/footer :: footerFragment}"></div>
</div>
<!-- ./wrapper -->
<!-- 기본 js 링크 -->
<th:block th:replace="~{fragments/basicLink :: basicLinkJsFragment}"></th:block>

<!-- ChartJS -->
<script src="/plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="/plugins/sparklines/sparkline.js"></script>
<!-- jQuery Knob Chart -->
<script src="/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- custom js -->
<script src="/js/admins/admins.js"></script>
</body>
</html>
