<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}">
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}">
    <title>Burger Master</title>
    <!-- 기본 css 링크-->
    <th:block th:replace="~{fragments/basicLink :: basicLinkCssFragment}"></th:block>
    <!-- DataTables -->
    <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

</head>
<body class="hold-transition sidebar-mini layout-fixed">


<!-- 공통 헤더 불러오기 -->
<div th:replace="~{fragments/header :: headerFragment}"></div>

<!-- 공통 사이드바 불러오기 -->
<div th:replace="~{fragments/sidebar :: sidebarFragment}"></div>


<div class="wrapper">
    <!--   Preloader -->
    <!-- 처음 로딩 시 나오는 요소 불러오기 -->
    <div th:replace="~{fragments/Preloader :: PreloaderFragment}"></div>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">관리자 관리</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">관리자 관리</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid dataTables_wrapper">

                <!-- Main row -->
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">관리자 목록</h3>

                                <div class="card-tools row">
                                    <div class="input-group input-group-sm" style="width: 100px;">
                                        <a class="btn-sm btn-primary" href="#" id="createManager">관리자 생성</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-0" style="height: 300px;">
                                <table class="table table-head-fixed text-nowrap">
                                    <thead>
                                    <tr>
                                        <th>관리자 ID</th>
                                        <th>이름</th>
                                        <th>이메일</th>
                                        <th>전화번호</th>
                                        <th>권한</th>
                                    </tr>
                                    </thead>
                                    <tbody id="listBody">
                                    <tr th:each="manager, status:${managers}" th:id="${manager.managerId}">
                                        <td th:text="${manager.managerId}"></td>
                                        <td th:text="${manager.name}"></td>
                                        <td th:text="${manager.email}"></td>
                                        <td th:text="${manager.phone}"></td>
                                        <td th:text="${manager.managerRole}"></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <!-- /div managers table-->

                        </div>
                        <!-- /card -->
                    </div>
                    <!--  -->
                </div>
                <!-- /.row managers table -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->



    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

    <!-- 공통 푸터 불러오기  맨아래에 위치해야함-->
    <div th:replace="~{fragments/footer :: footerFragment}"></div>
</div>
<!-- ./wrapper -->
<!-- 기본 js 링크 -->
<th:block th:replace="~{fragments/basicLink :: basicLinkJsFragment}"></th:block>

<!-- ChartJS -->
<script src="/plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="/plugins/sparklines/sparkline.js"></script>
<!-- jQuery Knob Chart -->
<script src="/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- custom js -->
<script src="/js/admins/admins.js"></script>
</body>
</html>
