<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>가공품 상세 정보</title>
  <!-- 기본 css 링크-->
  <th:block th:replace="fragments/basicLink :: basicLinkCssFragment"></th:block>
  <!-- Google Font: Source Sans Pro -->
  <!--  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">-->
  <!-- JQVMap -->
  <link rel="stylesheet" href="plugins/jqvmap/jqvmap.min.css">
  <link rel="stylesheet" href="css/font.css">
  
</head>
<body class="hold-transition sidebar-mini layout-fixed">


<!-- 공통 헤더 불러오기 -->
<div th:replace="fragments/header :: headerFragment"></div>

<!-- 공통 사이드바 불러오기 -->
<div th:replace="fragments/sidebar :: sidebarFragment"></div>


<div class="wrapper">

  <!--   Preloader -->
  <!-- 처음 로딩 시 나오는 요소-->
  <div th:replace="fragments/Preloader :: PreloaderFragment"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">가공품 상세 정보</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">가공품 상세 정보</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <!-- Main row -->
        <div class="row">

            <table class="table table-secondary table-striped">
				<thead>
					<tr>
						<th>식별번호</th>
						<th>가공품명</th>
						<th>재료</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="List, status:${bomList}">
						<td th:text="${List.itemCode}"></td>
						<td th:text="${List.itemName}"></td>
						<td th:text="${List.rmList}"></td>
					</tr>
				</tbody>
			</table>
			
<!--			페이지네이션-->
			<nav aria-label="Page navigation" style="width:100%;">
			  <div>
				
			  <div style="display: inline-block;">
			  <ul class="pagination">
			    <li class="page-item"><a class="page-link" th:href="@{/mf/bom(page=${currentPage-1})}"
					 th:if="${currentPage > 1}">◀</a></li>
				<li class="page-item"><a class="page-link" th:unless="${currentPage > 1}">◀</a></li>
				
				<span th:each="page:${#numbers.sequence(startPage,endPage)}">
			      <li class="page-item" th:unless="${page==0}"><a class="page-link" th:href="@{/mf/bom(page=${page})}" th:text="${page}"></a></li>
				</span>
				
			    <li class="page-item"><a class="page-link" th:href="@{/mf/bom(page=${currentPage+1})}"
					th:if="${currentPage < totalPages}">▶</a></li>
				<li class="page-item"><a class="page-link" th:unless="${currentPage < totalPages}">▶</a></li>
			  </ul>
			  </div>
			  
<!--			  검색 도구-->
			  <div class="searching" style="float: right;">
			  
<!--				검색어 분류-->
			  <form th:action="@{/mf/bom}" method="get">
			  <div style="display: inline-block;">
			    <select id="type" class="form-control" onchange="changeSearch(this.value)">
					<option th:text="가공품식별번호" value="searchId" selected></option>
					<option th:text="가공품명" value="searchName"></option>
				</select>
			  </div>
			  
			  
			  <div style="display: inline-block;">
			  	<input type="text" name="searchId" id="keyword" placeholder="검색어">
			  </div>
			  
			  <div style="display: inline-block;">
				<button type="submit" id="search" class="btn btn-success">검색</button>
			  </div>
			  </form>
			  
			  </div>
<!--			  searching-->
			  
			  </div>
			</nav>

        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->



  <!-- Control Sidebar -->
  <!--  <aside class="control-sidebar control-sidebar-dark">-->
  <!-- Control sidebar content goes here -->
  <!--  </aside>-->
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- 공통 푸터 불러오기  맨아래에 위치해야함-->
<div th:replace="fragments/footer :: footerFragment"></div>
<!-- 기본 js 링크 -->
<th:block th:replace="fragments/basicLink :: basicLinkJsFragment"></th:block>

<script src="/js/manufacture/bom.js"></script>

<!-- ChartJS -->
<script src="plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<!-- jQuery 차트 라이브러리-->
<!-- 사용법 참고 용 사이트 : https://idenrai.tistory.com/55-->
<script src="plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="plugins/moment/moment.min.js"></script>
<script src="plugins/daterangepicker/daterangepicker.js"></script>
</body>
</html>
