<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}">
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}">
  <title>작업 지시 조회</title>
  <!-- 기본 css 링크-->
  <th:block th:replace="fragments/basicLink :: basicLinkCssFragment"></th:block>
  <!-- Google Font: Source Sans Pro -->
  <!--  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">-->
  <!-- JQVMap -->
  <link rel="stylesheet" href="/plugins/jqvmap/jqvmap.min.css">
  <link rel="stylesheet" href="/css/font.css">
  
</head>
<body class="hold-transition sidebar-mini layout-fixed">


<!-- 공통 헤더 불러오기 -->
<div th:replace="fragments/header :: headerFragment"></div>

<!-- 공통 사이드바 불러오기 -->
<div th:replace="fragments/sidebar :: sidebarFragment"></div>


<div class="wrapper">

  <!--   Preloader -->
  <!-- 처음 로딩 시 나오는 요소-->
  <div th:replace="fragments/Preloader :: PreloaderFragment"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">작업 지시 조회</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">작업 지시 조회</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <!-- Main row -->
        <div class="row">

            <table class="table table-secondary table-striped">
				<thead>
					<tr>
						<th>식별번호</th>
						<th>가공품명</th>
						<th>수량</th>
						<th>데드라인</th>
						<th>요청일</th>
						<th>작업 상태</th>
						<th>작업 전달 확인</th>
						<th>작업 완료 확인</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="List, status:${orderList}">
						<td th:text="${List.orderId}"></td>
						<td th:text="${List.orderItem}"></td>
						<td th:text="${List.orderAmount}"></td>
						<td th:text="${List.orderDeadline}"></td>
						<td th:text="${List.orderDate}"></td>
						<td th:switch="${List.orderState}">
							<span th:case="'작업 전달 전'" th:name="${List.orderId}" style="color:orange;">작업 전달 전</span>
							<span th:case="'작업 중'" th:name="${List.orderId}" style="color:red;">작업 중</span>
							<span th:case="'작업 완료'" th:name="${List.orderId}" style="color:blue;">작업 완료</span>
							<span th:case="'작업 종료'" th:name="${List.orderId}" style="color:green;">작업 종료</span>
							<span th:case="*"></span>
						</td>
						<td th:if="${List.orderState=='작업 전달 전'}">
							<button type="button" th:id="${List.orderId}" class="btn btn-warning transmit">전달</button>
						</td>
						<td th:unless="${List.orderState=='작업 전달 전'}">
							<button type="button" class="btn btn-secondary transmit" disabled>전달</button>
						</td>
						<td th:if="${List.orderState=='작업 완료'}">
							<button type="button" th:id="${List.orderId}" class="btn btn-primary complete">완료</button>
						</td>
						<td th:unless="${List.orderState=='작업 완료'}">
							<button type="button" class="btn btn-secondary complete" disabled>완료</button>
						</td>
					</tr>
				</tbody>
			</table>
			
			<nav aria-label="Page navigation" style="width:100%;">
			  <div>
				
<!--				페이지네이션-->
			  <div style="display: inline-block;">
			  <ul class="pagination">
			    <li class="page-item"><a class="page-link" href="#">◀</a></li>
			    <li class="page-item"><a class="page-link" href="#">1</a></li>
			    <li class="page-item"><a class="page-link" href="#">2</a></li>
			    <li class="page-item"><a class="page-link" href="#">3</a></li>
			    <li class="page-item"><a class="page-link" href="#">▶</a></li>
			  </ul>
			  </div>
			  
<!--			  검색 도구-->
			  <div class="searching" style="float: right;">
			  
<!--				키워드 분류-->
			  <div style="display: inline-block;">
			    <select class="form-control">
					<option th:text="식별번호"></option>
					<option th:text="가공품명"></option>
					<option th:text="요청일"></option>
				</select>
			  </div>
			  
<!--			  작업 상태 분류-->
			  <div style="display: inline-block;">
			    <select class="form-control">
			  	  <option th:text="작업완료"></option>
			  	  <option th:text="작업전달전"></option>
			  	  <option th:text="작업중"></option>
				  <option th:text="작업완료"></option>
			  	</select>
			  </div>
			  
			  <div style="display: inline-block;">
			  	<input type="text" name="keyword" placeholder="검색어">
			  </div>
			  
			  <div style="display: inline-block;">
				<button type="button" class="btn btn-success">검색</button>
			  </div>
			  
			  </div>
<!--			  searching-->
			  
			  </div>
			</nav>

        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!--  모달-->
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="confirmationModalLabel"></h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="confirmSubmitBtn">확인</button>
                </div>
            </div>
        </div>
    </div>

  <!-- Control Sidebar -->
  <!--  <aside class="control-sidebar control-sidebar-dark">-->
  <!-- Control sidebar content goes here -->
  <!--  </aside>-->
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- 공통 푸터 불러오기  맨아래에 위치해야함-->
<div th:replace="fragments/footer :: footerFragment"></div>
<!-- 기본 js 링크 -->
<th:block th:replace="fragments/basicLink :: basicLinkJsFragment"></th:block>

<script src="/js/manufacture/orders.js"></script>

</body>
</html>
