<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:replace="fragments/header :: title">Default Title</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <!-- 공통 헤더 -->
    <header th:replace="fragments/header :: header"></header>
	
	<!-- 공통 로딩 -->
	    <header th:replace="fragments/Preloader :: loader"></header>

    <div class="container">
        <!-- 공통 사이드바 -->
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <!-- 개별 페이지 내용 삽입 -->
        <div class="content" th:fragment="content">
            <!-- 각 페이지에서 이 부분이 덮어써집니다 -->
        </div>
    </div>

    <!-- 공통 푸터 -->
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
