<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>발주 상품 검색</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">

    <!-- 스크립트 -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>

</head>
<body>
<h3 class="text-center my-5">발주 상품 검색</h3>
<div class="input-group col-10 my-5 mx-auto text-center">
  <input type="search" class="form-control form-control-large" placeholder="상품명으로 검색">
  <div class="input-group-append">
    <button type="submit" class="btn btn-default">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>
<div class="item-list card-body col-10 mx-auto">
    <table class="table table-bordered table-hover dataTable dtr-inline">
        <tr class="bg-lightblue">
            <th class="text-center" style="width:15%;">구분</th>
            <th class="text-center" style="width:15%;">품목코드</th>
            <th class="text-center" style="width:50%;">품목명</th>
            <th class="text-center" style="width:20%;">재고상태</th>
        </tr>
        <tr onclick="sendResult(this)" style="cursor: pointer;">
            <td class="text-center">원재료</td>
            <td class="text-center" data-code="item_code1">1</td>
            <td class="text-center" data-name="item_name1">샘플</td>
            <td class="text-right">100 <small>(양호)</small></td>
        </tr>
        <tr onclick="sendResult(this)" style="cursor: pointer;">
            <td class="text-center">완제품</td>
            <td class="text-center" data-code="item_code2">2</td>
            <td class="text-center" data-name="item_name2">샘플</td>
            <td class="text-right">3 <small>(부족)</small></td>
        </tr>
    </table>
</div>

<script th:inline="javascript">
    // (등록) 선택한 항목 정보 넘겨주고 팝업창 닫기
    function sendResult(row) {
        var itemCode = row.querySelector('[data-code]').getAttribute('data-code');
        var itemName = row.querySelector('[data-name]').getAttribute('data-name');
        window.opener.setItemInfo(itemCode, itemName);
        window.close();
    }

</script>


</body>
</html>