<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>발주 상세조회</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">

    <!-- 스크립트 -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>

</head>
<body class="hold-transition sidebar-mini layout-fixed">

    <!-- 공통 프리로더 -->
    <div th:replace="~{fragments/Preloader :: PreloaderFragment}"></div>

    <!-- 공통 헤더 불러오기 -->
    <div th:replace="~{fragments/header :: headerFragment}"></div>

    <!-- 공통 사이드바 불러오기 -->
    <div th:replace="~{fragments/sidebar :: sidebarFragment}"></div>


    <div class="wrapper">

        <!--   Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">발주 상세조회</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <!--              <li class="breadcrumb-item active">Dashboard v1</li>-->
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">

                    <!-- Main row -->
                    <div class="row">

                    <!-- Contents -->
                        <div class="container-fluid col-sm-10 my-5">
                            <div class="submit-btn-area row">
                                <button class="btn btn-md btn-secondary ml-auto my-3 mr-2">발주서 출력</button>
                            </div>
                            <div class="card insert-container px-3 py-3">
                                <div class="card-body basic-info-area px-5">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label text-center">등록번호</label>
                                        <div class="col-sm-4">
                                            <span th:text="${order.orderId}"></span>
                                        </div>
                                        <label class="col-sm-2 col-form-label text-center">처리상태</label>
                                        <div class="col-sm-4">
                                            <span th:text="${order.status}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label text-center" for="order_date">등록일</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" type="date" name="order_date" id="order_date" th:value="${order.orderDate}" readonly>
                                        </div>
                                        <label class="col-sm-2 col-form-label text-center" for="manager-code">담당자</label>
                                        <div class="input-group col-sm-4">
                                            <input id="manager-code" class="form-control" type="text" name="manager_code" placeholder="코드" th:value="${order.manager.managerId}" readonly>
                                            <div class="input-group-append">
                                                <span id="find-manager" class="input-group-text" style="cursor:pointer;"><i class="fas fa-search"></i></span>
                                            </div>
                                            <input id="manager-name" class="form-control" type="text" name="manager_name" placeholder="이름" th:value="${order.manager.name}" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label text-center" for="supplier-code">거래처</label>
                                        <div class="input-group col-sm-4">
                                            <input id="supplier-code" class="form-control" type="text" name="supplier_code" placeholder="코드" th:value="${order.supplier.supplierCode}" readonly>
                                            <div class="input-group-append">
                                                <span id="find-supplier" class="input-group-text" style="cursor:pointer;"><i class="fas fa-search"></i></span>
                                            </div>
                                            <input id="supplier-name" class="form-control" type="text" name="supplier_name" placeholder="상호" th:value="${order.supplier.supplierName}" readonly>
                                        </div>
                                        <label class="col-sm-2 col-form-label text-center" for="due_date">납기일</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" type="date" id="due_date" name="due_date" th:value="${order.dueDate}" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label text-center" for="note">비  고</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" id="note" name="note" th:value="${order.note}" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-items-area card-body">
                                    <div class="row">
                                        <button class="btn btn-md btn-primary ml-auto mr-2 mb-3" id="add-items">물품 추가</button>
                                    </div>
                                    <div class="item-list card-body border">
                                        <table id="item-list-table" class="table table-bordered table-hover dataTable dtr-inline">
                                            <tr class="bg-lightblue">
                                                <th class="text-center" style="width:10%">선택삭제</th>
                                                <th class="text-center" style="width:15%;">품목코드</th>
                                                <th class="text-center" style="width:30%;">품목명</th>
                                                <th class="text-center" style="width:15%;">단가(원)</th>
                                                <th class="text-center" style="width:15%;">수량(단위)</th>
                                                <th class="text-center" style="width:15%;">소계(원)</th>
                                            </tr>
                                        </table>
                                        <div class="calculating-brief row my-2 py-3 px-2 bg-light">
                                            <div class="col-6 number-of-items"><span id="total-quantity" class="ml-3">0</span>개 품목 선택</div>
                                            <div class="col-6 text-right total-of-price">금액 합계: <span id="total-price" class="ml-1">0</span> 원</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="submit-btn-area row">
                                <div class="col-5 d-flex justify-content-start">
                                    <button class="btn btn-lg btn-secondary my-3">목록으로 이동</button>
                                </div>
                                <div class="col-7 d-flex justify-content-end">
                                    <button class="btn btn-lg btn-success my-3 mx-2">수정</button>
                                    <button class="btn btn-lg btn-danger my-3 mx-2">취소</button>
                                    <button class="gtn btn-lg btn-primary my-3 mx-2">발주완료</button>
                                </div>
                            </div>
                        </div>

                        <template id="add-item-template">
                            <tr class="item-row">
                                <td class="text-center"><button class="btn btn-danger btn-sm delete-this-row">X</button></td>
                                <td class="text-center"><span class="item-code"></span></td>
                                <td class="text-center"><span class="item-name"></span></td>
                                <td class="text-right"><input class="col-sm-8 item-price" type="text" value="0" style="text-align:right;"> 원</td>
                                <td class="text-center"><input class="col-sm-4 item-quantity" type="text" value="0" style="text-align:right;"> (단위)</td>
                                <td class="text-right"><span class="subtotal">0</span> 원</td>
                            </tr>
                        </template>


                    <!-- /.Contents -->

                    </div>
                    <!-- /.row (main row) -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <!--  <aside class="control-sidebar control-sidebar-dark">-->
        <!-- Control sidebar content goes here -->
        <!--  </aside>-->
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- 공통 푸터 불러오기  맨아래에 위치해야함-->
    <div th:replace="~{fragments/footer :: footerFragment}"></div>

    <!-- custom js -->
    <script src="/js/transaction/order/insert.js"></script>

</body>

</html>