<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>발주 등록</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">

    <!-- 스크립트 -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>

</head>
<body class="hold-transition sidebar-mini layout-fixed">

    <!-- 공통 프리로더 -->
    <div th:replace="~{fragments/Preloader :: PreloaderFragment}"></div>

    <!-- 공통 헤더 불러오기 -->
    <div th:replace="~{fragments/header :: headerFragment}"></div>

    <!-- 공통 사이드바 불러오기 -->
    <div th:replace="~{fragments/sidebar :: sidebarFragment}"></div>



<div class="wrapper">

        <!--   Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">발주 현황</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <!--              <li class="breadcrumb-item active">Dashboard v1</li>-->
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">

                    <!-- Main row -->
                    <div class="row">

                    <!-- Contents -->
                        <div class="container-fluid col-sm-10 my-3 mx-auto">
                            <div class="card search-container mx-auto col-10">
                                <div class="card-header bg-gray-lighter mt-3">
                                    <h4>조건 검색</h4>
                                </div>
                                <div class="card-body col-11 mx-auto">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label text-center" for="status">처리상태</label>
                                        <div class="col-sm-4">
                                            <select class="form-control" id="status" name="status">
                                                <option value="">전체</option>
                                                <option value="">발주등록(저장)</option>
                                                <option value="">발주완료</option>
                                                <option value="">발주취소</option>
                                            </select>
                                        </div>
                                        <label class="col-sm-2 col-form-label text-center" for="supplier-name">거래처</label>
                                        <div class="input-group col-sm-4">
                                            <input id="supplier-name" class="form-control" type="text" name="supplier_name">
                                            <div class="input-group-append">
                                                <span id="find-supplier" class="input-group-text" style="cursor:pointer;"><i class="fas fa-search"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <labal class="col-sm-2 col-form-label text-center">등록일</labal>
                                        <div class="col-sm-4 d-flex">
                                            <input class="form-control" type="date" id="order_date-start" name="order_date_start"> ~
                                            <input class="form-control" type="date" id="order_date-end" name="order_date_end">
                                        </div>
                                        <label class="col-sm-2 col-form-label text-center" for="item-name">품목명</label>
                                        <div class="input-group col-sm-4">
                                            <input id="item-name" class="form-control" type="text" name="item_name">
                                            <div class="input-group-append">
                                                <span id="find-item" class="input-group-text" style="cursor:pointer;"><i class="fas fa-search"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <labal class="col-sm-2 col-form-label text-center">납기일</labal>
                                        <div class="col-sm-4 d-flex">
                                            <input class="form-control" type="date" id="due_date-start" name="due_date_start"> ~
                                            <input class="form-control" type="date" id="due_date-end" name="due_date_end">
                                        </div>
                                        <button class="btn btn-md btn-primary ml-auto">조회</button>
                                    </div>
                                </div>
                            </div>
                            <div class="list-area card py-3 px-4">
                                <div class="card-body">
                                    <div class="row">
                                        <button class="btn btn-md btn-success ml-auto mr-2 mb-3" id="add-items">.xls로 저장</button>
                                    </div>
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                        <tr class="text-center bg-gray-light">
                                            <th>발주등록번호</th>
                                            <th>거래처</th>
                                            <th>거래품목</th>
                                            <th>합계금액(원)</th>
                                            <th>등록일</th>
                                            <th>납기일</th>
                                            <th>처리상태</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="order : ${orders}" class="text-center" th:onclick="|location.href='@{/tx/orderDetail(orderId=${order.orderId})}'|" style="cursor:pointer;">
                                            <td th:text="${order.orderId}"></td>
                                            <td th:text="${order.supplierCode}">맛있다정육</td>
                                            <td>패티용소고기 외 3건</td>
                                            <td th:text="${order.totalPrice}" class="text-right">1,000,000</td>
                                            <td th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd')}">2024-10-29</td>
                                            <td th:text="${#dates.format(order.dueDate, 'yyyy-MM-dd')}">2024-11-05</td>
                                            <td th:text="${order.status}">발주등록(저장)</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- 페이지네이션 -->
                                <div class="row mt-3">
                                    <div class="col-sm-12 col-md-5 d-flex justify-content-start pl-4">
                                        <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">총 2개 중 2개 항목</div>
                                    </div>
                                    <div class="col-sm-12 col-md-7 d-flex justify-content-end pr-2">
                                        <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                            <ul class="pagination mr-4">
                                                <li class="paginate_button page-item previous disabled" id="example2_previous">
                                                    <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                                </li>
                                                <li class="paginate_button page-item active">
                                                    <a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                                </li>
                                                <li class="paginate_button page-item ">
                                                    <a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                                </li>
                                                <li class="paginate_button page-item previous disabled" id="example2_next">
                                                    <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Next</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /페이지네이션 -->
                            </div>
                        </div>

                    <!-- /.Contents -->

                    </div>
                    <!-- /.row (main row) -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <!--  <aside class="control-sidebar control-sidebar-dark">-->
        <!-- Control sidebar content goes here -->
        <!--  </aside>-->
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- 공통 푸터 불러오기  맨아래에 위치해야함-->
    <div th:replace="~{fragments/footer :: footerFragment}"></div>

    <!-- dataTable js -->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/plugins/jszip/jszip.min.js"></script>
    <script src="/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>


    <!-- custom js -->
    <script src="/js/transaction/order/list.js"></script>

    <script>
        $(function () {
            $('#example2').DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": false,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>

</body>

</html>