<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>발주 등록</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">

    <!-- 스크립트 -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>

</head>
<body class="hold-transition sidebar-mini layout-fixed">


    <!-- 공통 헤더 불러오기 -->
    <div th:replace="~{fragments/header :: headerFragment}"></div>

    <!-- 공통 사이드바 불러오기 -->
    <div th:replace="~{fragments/sidebar :: sidebarFragment}"></div>


    <div class="wrapper">

        <!--   Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">발주 현황</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <!--              <li class="breadcrumb-item active">Dashboard v1</li>-->
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">

                    <!-- Main row -->
                    <div class="row">

                    <!-- Contents -->
                        <div class="container-fluid col-sm-10 my-3 mx-auto">
                            <div class="card search-container mx-auto col-10">
                                <div class="card-header bg-gray-lighter">
                                    <h4>조건 검색</h4>
                                </div>
                                <div class="card-body col-11 mx-auto">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label text-center" for="status">처리상태</label>
                                        <div class="col-sm-4">
                                            <select class="form-control" id="status" name="status">
                                                <option value="">전체</option>
                                                <option value="">발주등록(저장)</option>
                                                <option value="">발주완료</option>
                                                <option value="">발주취소</option>
                                            </select>
                                        </div>
                                        <label class="col-sm-2 col-form-label text-center" for="supplier-name">거래처</label>
                                        <div class="input-group col-sm-4">
                                            <input id="supplier-name" class="form-control" type="text" name="supplier_name">
                                            <div class="input-group-append">
                                                <span id="find-supplier" class="input-group-text" style="cursor:pointer;"><i class="fas fa-search"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <labal class="col-sm-2 col-form-label text-center">등록일</labal>
                                        <div class="col-sm-4 d-flex">
                                            <input class="form-control" type="date" id="order_date-start" name="order_date_start"> ~
                                            <input class="form-control" type="date" id="order_date-end" name="order_date_end">
                                        </div>
                                        <label class="col-sm-2 col-form-label text-center" for="item-name">품목명</label>
                                        <div class="input-group col-sm-4">
                                            <input id="item-name" class="form-control" type="text" name="item_name">
                                            <div class="input-group-append">
                                                <span id="find-item" class="input-group-text" style="cursor:pointer;"><i class="fas fa-search"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <labal class="col-sm-2 col-form-label text-center">납기일</labal>
                                        <div class="col-sm-4 d-flex">
                                            <input class="form-control" type="date" id="due_date-start" name="due_date_start"> ~
                                            <input class="form-control" type="date" id="due_date-end" name="due_date_end">
                                        </div>
                                        <button class="btn btn-md btn-primary ml-auto">조회</button>
                                    </div>
                                </div>
                            </div>
                            <div class="input-items-area card-body">
                               리스트 들어갈 자리
                            </div>
                        </div>

                    <!-- /.Contents -->

                    </div>
                    <!-- /.row (main row) -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <!--  <aside class="control-sidebar control-sidebar-dark">-->
        <!-- Control sidebar content goes here -->
        <!--  </aside>-->
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- 공통 푸터 불러오기  맨아래에 위치해야함-->
    <div th:replace="~{fragments/footer :: footerFragment}"></div>

    <!-- custom js -->
    <script src="/js/transaction/order/list.js"></script>

</body>

</html>