<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>발주서 출력</title>
    <link rel="stylesheet" href="/css/transaction/formstyle.css">
    <script src="/plugins/jquery/jquery.min.js"></script>
</head>
<body>
    <div id="btn-area">
        <button onclick="printForm()">출력하기</button>
    </div>

    <div id="form-wrapper">
        <div id="header">
            <h1>발 주 서</h1>
        </div>
        <div id="content">
            <div id="top">
                <div id="top-left">
                    <div id="order-id-area">발주등록번호: <span id="order-id"></span></div>
                    <div id="data-area">
                        발주일: <span id="order-date"></span><br>
                        납기일: <span id="due-date"></span></div>
                    <div id="supplier-area"><h3 style="text-align:center;"><span id="supplier"></span> 귀하</h3></div>
                    <p style="text-align:right;">아래와 같이 발주합니다.</p>
                </div>
                <div id="top-right">
                    <table id="our-info">
                        <tr>
                            <th rowspan="5" style="width:10%;">발<br>주<br>자</th>
                            <th>사업자번호</th>
                            <td colspan="3">123-456-78910</td>
                        </tr>
                        <tr>
                            <th style="width:20%">상호명</th>
                            <td style="width:25%">(주)버거마스터</td>
                            <th style="width:20%">대표자</th>
                            <td style="width:25%">김버거</td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td colspan="3">부산광역시 부산진구 동천로 109 (7층)</td>
                        </tr>
                        <tr>
                            <th>업태</th>
                            <td>숙박 및 음식점업</td>
                            <th>종목</th>
                            <td>피자, 햄버거, 샌드위치 및 유사 음식점업</td>
                        </tr>
                        <tr>
                            <th>전화번호</th>
                            <td>051-123-4567</td>
                            <th>팩스번호</th>
                            <td>051-123-4568</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="middle">
                <div id="total-price-area">발주금액 합계: 금<span id="total-price"></span>원</div>
                <div id="items-area">
                    <table id="item-table">
                        <thead>
                          <tr>
                            <th style="width:5%">NO</th>
                            <th style="width:45%">품명</th>
                            <th style="width:15%">단가</th>
                            <th style="width:15%">수량</th>
                            <th style="width:20%">소계</th>
                          </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <div id="bottom">
                <div id="info-area">
                    <div id="manager-info">담당자: <span id="manager-name">박구매</span></div>
                </div>
            </div>
        </div>
        <div id="footer">
            <h3>주식회사 버거마스터</h3>
            <h3>대표이사 김버거 (인)</h3>
        </div>
    </div>

<script>

    window.onresize = function() {
        window.resizeTo(700, 900);
    };

    function printForm(){
        window.print();
        return false;
    }

    $(document).ready(function () {
        $(window).on('message', function(event) {
            const printData = event.originalEvent.data;
            const tableBody = $('#item-table tbody');

            $('#order-id').text(printData.orderId);
            $('#order-date').text(printData.orderDate);
            $('#due-date').text(printData.dueDate);
            $('#supplier').text(printData.supplierName);
            $('#total-price').text(parseInt(printData.totalPrice).toLocaleString()).css('font-weight', 'bold');
            $('#manager-name').text(printData.managerName);

            printData.tableRows.forEach((row, index) => {
                const rowNum = index + 1;
                const newRow = $('<tr>');
                newRow.append($('<td>', {text: rowNum}));
                newRow.append($('<td>', {text: row.itemName}));
                newRow.append($('<td>', {text: (parseInt(row.itemPrice).toLocaleString() + ' 원')}).css('text-align', 'right'));
                newRow.append($('<td>', {text: parseInt(row.itemQuantity).toLocaleString()}).css('text-align', 'right'));
                newRow.append($('<td>', {text: (parseInt(row.subtotal).toLocaleString() + ' 원')}).css('text-align', 'right'));
                tableBody.append(newRow);
            });
        });
    });

</script>

</body>
</html>